.header {
  display: flex;
  align-items: center;
  background-color: bisque;
  width: 100vw;
  top: 0;
  position: fixed;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

nav {
  align-self: top;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 8rem;
  width: 100vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: cadetblue;
  color: white;
  width: 100vw;
}

.background {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: x-large;
  font-style: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  width: 100vw;
  bottom: 0;
  position: fixed;
}

.button {
  margin: 1rem;
  border: 1px, solid, black;
}

.sectionTitle {
  font-size: x-large;
  font-style: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 25rem;
  height: auto;
  margin: 5rem;
  border-radius: 5%;
}
